In [2]:
import pandas as pd
from datetime import datetime, timedelta, time
import numpy as np
from scipy.ndimage.interpolation import shift
from collections import defaultdict
import seaborn as sns

import calendar

In [3]:
df = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_181229.txt')

In [4]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/22/2018,03:00:00,REGULAR,6881995,2333630
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/22/2018,07:00:00,REGULAR,6882006,2333643
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/22/2018,11:00:00,REGULAR,6882062,2333740
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/22/2018,15:00:00,REGULAR,6882243,2333800
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/22/2018,19:00:00,REGULAR,6882590,2333868

In [5]:
#Check data types 
df.dtypes

C/A                                                                     object
UNIT                                                                    object
SCP                                                                     object
STATION                                                                 object
LINENAME                                                                object
DIVISION                                                                object
DATE                                                                    object
TIME                                                                    object
DESC                                                                    object
ENTRIES                                                                  int64
EXITS                                                                    int64
dtype: object

In [6]:
#Convert DATES to a datetime object
df['DATE'] =  pd.to_datetime(df['DATE'])

In [8]:
#Create column for day reference
df['DAY'] = df['DATE'].dt.weekday_name

In [14]:
df['MONTH']=df['DATE'].dt.month

In [20]:
df.tail()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DAY,MONTH,DELTA
201169,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-12-28,11:12:57,REGULAR,5554,366,Friday,12,0.0
201170,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-12-28,12:00:00,REGULAR,5554,366,Friday,12,0.0
201171,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-12-28,12:19:32,REGULAR,5554,366,Friday,12,0.0
201172,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-12-28,16:00:00,REGULAR,5554,366,Friday,12,0.0
201173,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-12-28,20:00:00,REGULAR,5554,366,Friday,12,0.0

In [38]:
df['DELTA'] = df['ENTRIES'].diff().abs()

In [39]:
#Clean columns "EXITS" cant referenced because of space
df = df.rename(columns=lambda x: x.strip())

In [41]:
df['DELTA'] = df['ENTRIES'].diff().abs()

In [42]:
df['DELTA2'] = df['EXITS'].diff().abs()

In [42]:
df['TRAFFIC']

In [35]:
df_station=df.groupby(['STATION','DAY','MONTH'])['DELTA'].sum().reset_index()

In [37]:
df_station

              STATION        DAY  MONTH         DELTA
0                1 AV     Friday     12  1.422700e+04
1                1 AV     Monday     12  1.036200e+04
2                1 AV   Saturday     12  2.377804e+09
3                1 AV     Sunday     12  9.707000e+03
4                1 AV   Thursday     12  1.376400e+04
5                1 AV    Tuesday     12  5.509000e+03
6                1 AV  Wednesday     12  1.183700e+04
7              103 ST     Friday     12  2.333300e+04
8              103 ST     Monday     12  1.923600e+04
9              103 ST   Saturday     12  7.248141e+08
10             103 ST     Sunday     12  1.582100e+04
11             103 ST   Thursday     12  2.398300e+04
12             103 ST    Tuesday     12  1.178400e+04
13             103 ST  Wednesday     12  2.117400e+04
14      103 ST-CORONA     Friday     12  1.745300e+04
15      103 ST-CORONA     Monday     12  1.469000e+04
16      103 ST-CORONA   Saturday     12  4.988108e+07
17      103 ST-CORONA     Sunday     12  1.252000e+04
18      103 ST-CORONA   Thursday     12  1.819500e+04
19      103 ST-CORONA    Tuesday     12  7.541000e+03
20      103 ST-CORONA  Wednesday     12  1.717200e+04
21             104 ST     Friday     12  2.925000e+03
22             104 ST     Monday     12  2.312000e+03
23             104 ST   Saturday     12  5.729775e+09
24             104 ST     Sunday     12  1.552000e+03
25             104 ST   Thursday     12  3.242000e+03
26             104 ST    Tuesday     12  1.108000e+03
27             104 ST  Wednesday     12  2.850000e+03
28             110 ST     Friday     12  8.179000e+03
29             110 ST     Monday     12  6.940000e+03
...               ...        ...    ...           ...
2598         WOODLAWN    Tuesday     12  1.850000e+03
2599         WOODLAWN  Wednesday     12  5.485000e+03
2600  WORLD TRADE CTR     Friday     12  1.247700e+04
2601  WORLD TRADE CTR     Monday     12  1.065300e+04
2602  WORLD TRADE CTR   Saturday     12  3.179224e+09
2603  WORLD TRADE CTR     Sunday     12  8.432000e+03
2604  WORLD TRADE CTR   Thursday     12  1.642900e+04
2605  WORLD TRADE CTR    Tuesday     12  6.089000e+03
2606  WORLD TRADE CTR  Wednesday     12  1.407200e+04
2607    WTC-CORTLANDT     Friday     12  1.579100e+04
2608    WTC-CORTLANDT     Monday     12  1.071400e+04
2609    WTC-CORTLANDT   Saturday     12  1.462627e+09
2610    WTC-CORTLANDT     Sunday     12  1.115600e+04
2611    WTC-CORTLANDT   Thursday     12  1.893000e+04
2612    WTC-CORTLANDT    Tuesday     12  8.528000e+03
2613    WTC-CORTLANDT  Wednesday     12  1.387000e+04
2614          YORK ST     Friday     12  6.343000e+03
2615          YORK ST     Monday     12  4.785000e+03
2616          YORK ST   Saturday     12  8.904989e+06
2617          YORK ST     Sunday     12  5.363000e+03
2618          YORK ST   Thursday     12  8.719000e+03
2619          YORK ST    Tuesday     12  4.248000e+03
2620          YORK ST  Wednesday     12  6.682000e+03
2621        ZEREGA AV     Friday     12  2.132000e+03
2622        ZEREGA AV     Monday     12  1.696000e+03
2623        ZEREGA AV   Saturday     12  1.634179e+06
2624        ZEREGA AV     Sunday     12  1.132000e+03
2625        ZEREGA AV   Thursday     12  2.213000e+03
2626        ZEREGA AV    Tuesday     12  2.661000e+03
2627        ZEREGA AV  Wednesday     12  2.135000e+03

[2628 rows x 4 columns]

In [24]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DAY,MONTH,DELTA
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-12-22,03:00:00,REGULAR,6881995,2333630,Saturday,12,NaN
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-12-22,07:00:00,REGULAR,6882006,2333643,Saturday,12,11.0
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-12-22,11:00:00,REGULAR,6882062,2333740,Saturday,12,56.0
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-12-22,15:00:00,REGULAR,6882243,2333800,Saturday,12,181.0
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-12-22,19:00:00,REGULAR,6882590,2333868,Saturday,12,347.0